[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]
jupyter = "*"

[packages]
pandas = "*"
numpy = "*"
33c5721 = {file = "https://github.com/matplotlib/basemap/archive/v1.2.0rel.tar.gz"}
tensorflow = "*"
netcdf4 = "*"
